* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "KIA-Bold", serif;
}

input,
button,
textarea {
  font-family: "KIA-Bold", serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'KIA-Bold';
  src: url("../fonts/KIAB.woff2") format("woff2"), url("../fonts/KIAB.woff") format("woff"), url("../fonts/KIAB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'KIA-Medium';
  src: url("../fonts/KIAM.woff2") format("woff2"), url("../fonts/KIAM.woff") format("woff"), url("../fonts/KIAM.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  min-width: 320px;
}

body {
  color: #08141E;
  background-color: #fff;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 0 20px;
  margin: 0 -20px;
}

.logo {
  margin: 0 auto;
  width: 114px;
  height: 73px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position-y: 46px;
}

.button {
  width: 100%;
  height: 46px;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 468px) {
  .container {
    padding: 0 30px;
  }

  .header {
    padding: 0 30px;
    margin: 0 -30px;
  }
}
@media (max-width: 380px) {
  .logo {
    background-position-y: 38px;
  }
}
.start-page {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.start-page__container {
  background-image: url(../img/bg-start-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}
.start-page__header {
  border-bottom: 1px solid rgba(196, 196, 196, 0.6);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header-start-page__title {
  font-size: 18px;
  margin: 46px 0 45px;
  line-height: 22px;
}

.body-start-page {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-start-page__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 24px;
  margin: 47px 0 80px;
  line-height: 30px;
}

.body-start-page__group-button {
  padding-bottom: 46px;
}
.body-start-page__group-button p {
  margin-bottom: 48px;
  font-size: 14px;
  text-transform: uppercase;
}
.body-start-page__group-button .button {
  background-color: #fff;
  color: #08141E;
}

@media (max-width: 380px) {
  .header-start-page__title {
    font-size: 16px;
    margin: 38px 0 38px;
  }

  .body-start-page__title {
    font-size: 22px;
    line-height: 28px;
    margin: 38px 0 60px;
  }
}
.question-page {
  display: block;
}

.header-question {
  background-image: url(../img/bg-header-question.jpg);
  background-repeat: no-repeat;
  height: 233px;
  background-size: cover;
  text-align: center;
}

.pagination-question {
  margin-top: 24px;
}
.pagination-question__fraction {
  color: #fff;
  font-size: 47px;
  letter-spacing: -5.5px;
  margin-bottom: 23px;
}
.pagination-question__progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 19px;
          column-gap: 19px;
}
.pagination-question__progressbar li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46px;
          flex: 0 1 46px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.pagination-question__progressbar li.progressbar-fill {
  background-color: #fff;
}

.question-current {
  font-size: 64px;
}

.question-total {
  font-size: 18px;
}

.question__text {
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */