* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
}

input,
button,
textarea {
  font-family: "KIA-Bold", serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'KIA-Bold';
  src: url("../fonts/KIAB.woff2") format("woff2"), url("../fonts/KIAB.woff") format("woff"), url("../fonts/KIAB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'KIA-Medium';
  src: url("../fonts/KIAM.woff2") format("woff2"), url("../fonts/KIAM.woff") format("woff"), url("../fonts/KIAM.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  min-width: 320px;
}

body {
  color: #08141E;
  background-color: #fff;
  font-family: "KIA-Bold", serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.padding-left-right {
  padding: 0 20px;
}

.logo {
  margin: 0 auto;
  width: 114px;
  height: 73px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position-y: 46px;
}

.button {
  width: 100%;
  height: 46px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  display: inline-block;
  line-height: 46px;
}

.button-black {
  background-color: #08141E;
  color: #fff;
}

.button-white {
  background-color: #fff;
  color: #08141E;
}

.button-bd-black {
  border: 1px solid #08141E;
  color: #08141E;
}

.button-bd-white {
  border: 1px solid #fff;
  color: #fff;
}

@media (min-width: 468px) {
  .padding-left-right {
    padding: 0 30px;
  }
}
@media (max-width: 380px) {
  .padding-left-right {
    padding: 0 15px;
  }

  .logo {
    background-position-y: 38px;
  }
}
.start-page {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.start-page__container {
  background-image: url(../img/bg-start-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}
.start-page__header {
  border-bottom: 1px solid rgba(196, 196, 196, 0.6);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header-start-page__title {
  font-size: 18px;
  margin: 46px 0 45px;
  line-height: 22px;
}

.body-start-page {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-start-page__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 24px;
  margin: 47px 0 58px;
  line-height: 30px;
}

.body-start-page__group-button {
  padding-bottom: 26px;
}

.body-start-page__text {
  margin-bottom: 48px;
  font-size: 14px;
  text-transform: uppercase;
}

.start-page.next .body-start-page__text {
  margin-top: 39px;
  margin-bottom: 0;
}

.start-page.end .header-start-page__title {
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 380px) {
  .header-start-page__title {
    font-size: 16px;
    margin: 38px 0 38px;
  }

  .body-start-page__title {
    font-size: 22px;
    line-height: 28px;
    margin: 38px 0 60px;
  }
}
.question-page {
  display: block;
}

.header-question {
  background-image: url(../img/bg-header-question.jpg);
  background-repeat: no-repeat;
  height: 233px;
  background-size: cover;
  text-align: center;
}

.pagination-question {
  margin-top: 25px;
}
.pagination-question__fraction {
  color: #fff;
  font-size: 47px;
  letter-spacing: -5.5px;
  margin-bottom: 23px;
}
.pagination-question__progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
.pagination-question__progressbar li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46px;
          flex: 0 1 46px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.pagination-question__progressbar li.fill {
  background-color: #fff;
}

.question-current {
  font-size: 64px;
  letter-spacing: 0px;
}

.question-total {
  font-size: 18px;
  letter-spacing: 0px;
}

.swiper-pagination {
  position: static;
}

.question__question {
  font-size: 24px;
  margin: 48px 0 43px;
  line-height: 30px;
  letter-spacing: 0.1px;
}
.question__grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.question__grade li {
  text-align: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.question__grade li input {
  position: absolute;
  top: -10px;
  left: 0px;
  opacity: 0;
  z-index: -1;
  cursor: default;
}
.question__grade li label.bullet-grade {
  display: block;
  height: 29px;
  width: 29px;
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 15px;
  line-height: 27px;
  -webkit-transition: 0.4s background-color;
  transition: 0.4s background-color;
}
.question__description-grade {
  margin-top: 10px;
  line-height: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 8px;
}
.question__description-grade :last-child {
  text-align: end;
}
.question__comment {
  margin-top: 47px;
  padding-bottom: 47px;
}
.question__comment p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 35px;
}
.question__comment textarea {
  border: none;
  border-bottom: 1px solid #08141E;
  width: 100%;
  outline: none;
  resize: none;
  padding: 10px 0;
  font-size: 16px;
  overflow: hidden;
}
.question__comment textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}
.question__comment textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}
.question__comment textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}
.question__comment textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.question-simple {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 26px;
}
.question-simple .question__answer {
  position: relative;
}
.question-simple input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  cursor: default;
}

.question-page.next .pagination-question__progressbar {
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

@media (max-width: 380px) {
  .header-question {
    height: 215px;
  }

  .pagination-question {
    margin-top: 14px;
  }

  .question__question {
    font-size: 22px;
    margin: 35px 2% 30px 0;
    line-height: 28px;
  }
  .question__grade li label.bullet-grade {
    height: 26px;
    width: 26px;
    line-height: 25px;
  }
  .question__comment {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .question__comment p {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 18px;
  }
}
.hide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.show {
  display: block;
}

.show-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*# sourceMappingURL=style.css.map */