.question-page {
  display: block;
  // display: none;
}

.header-question {
  background-image: url(../img/bg-header-question.jpg);
  background-repeat: no-repeat;
  height: 233px;
  background-size: cover;
  text-align: center;
}

.pagination-question {
  margin-top: 24px;
  // .pagination-question__fraction
  &__fraction {
    color: $colorWhite;
    font-size: 47px;
    letter-spacing: -5.5px;
    margin-bottom: 23px;
  }
  // .pagination-question__progressbar
  &__progressbar {
    display: flex;
    justify-content: center;
    column-gap: 19px;
    li {
      flex: 0 1 46px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      &.progressbar-fill {
        background-color: $colorWhite;
      }
    }
  }}

.question-current {
  font-size: 64px;
}

.question-total {
  font-size: 18px;
}

.question {
  // .question__text
  &__text {
    font-size: 24px;
  }

  // .question__answer
  &__answer {
  }

  // .question__grade
  &__grade {
  }

  // .question__description-grade
  &__description-grade {
  }

  // .question__comment
  &__comment {
  }
}






