
@import '_variables';
@import '_null';
@import '_fonts';


html,
body {
min-width: 320px;
}

body {
	color: $colorDark;
	background-color: $colorWhite;
	font-family: $fontKIABold;
}

// общие классы
.container {
	max-width: 500px;
	margin: 0 auto;
}

.padding-left-right {
	padding: 0 20px;
}

.logo {
	margin: 0 auto;
	width: 114px;
	height: 73px;
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	background-position-y: 46px;
}

.button {
	width: 100%;
	height: 46px;
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
	display: inline-block;
	line-height: 46px;
	&:active {
		opacity: 0.5;
	}
}

.button-black {
	background-color: $colorDark;
	color: $colorWhite;
	&:checked {
		opacity: 0.5;
	}
}

.button-white {
	background-color: $colorWhite;
	color: $colorDark;
}

.button-bd-black {
	border: 1px solid $colorDark;
	color: $colorDark;
}

.button-bd-white {
	border: 1px solid $colorWhite;
	color: $colorWhite;
}

// ===========================================

@media (min-width: 468px) {
  .padding-left-right {
    padding: 0 30px;
  }
}

@media (max-width: 380px) {
	.padding-left-right {
    padding: 0 15px;
  }
	.logo {
		background-position-y: 38px;
	}
}

@import '_start-page';
@import '_question-page.scss';

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.1;} to {opacity: 1;} 
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
}

@keyframes fade-out {
  from {opacity: 1;} to {opacity: 0;} 
}

.show {
  display: block;
}

.show-flex {
	display: flex;
}
