
@import '_variables';
@import '_null';
@import '_fonts';


// html,
// body {
// 	min-width: 500px;
// }

body {
	color: $colorDark;
}

.body {
  background-color: $bgColor;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	// > * {
	// 	min-width: 0;
	// }
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

