
@import '_variables';
@import '_null';
@import '_fonts';


html,
body {
min-width: 320px;
}

body {
	color: $colorDark;
	background-color: $colorWhite;
}

// .wrapper {
// 	display: flex;
// 	flex-direction: column;
	
	// Фикс для слайдеров
	// > * {
	// 	min-width: 0;
	// }
// }

.container {
	max-width: 500px;
	margin: 0 auto;
}

// общие классы
.logo {
	margin: 0 auto;
	width: 114px;
	height: 73px;
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	background-position-y: 46px;
}

.button {
	width: 100%;
	height: 46px;
	text-align: center;
	font-size: 18px;
}

@media (max-width: 380px) {
	.logo {
		background-position-y: 38px;
	}
}

@import '_start-page';
@import '_question-page.scss';
